body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #007bff;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
}

ul {
    list-style-type: none; /* removes the dots */
    padding-left: 0;       /* removes the extra space on the left */
}

footer {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
}
